
/* Style the scrollbar track */
#filteredcities::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Style the scrollbar thumb */
  #filteredcities::-webkit-scrollbar-thumb {
    background: #4a90e2; /* Set the background color of the thumb */
    border-radius: 8px; /* Set the border radius of the thumb */
  }
  

  
  /* Style the scrollbar thumb on hover */
  #filteredcities::-webkit-scrollbar-thumb:hover {
    background: #ffffff;; /* Change the thumb background color on hover */
}
  